/* font */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helvetica/HelveticaNeueCyr-Medium.ttf');
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue Thin';
    src: url('fonts/helvetica/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Thin';
    src: url('fonts/helvetica/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TruenoBD';
    src: url('fonts/TruenoBd.otf');
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    transition: 0.5s;
}


.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.4s ease;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

:root {
    --primary: #FFFFFF;
    --secondary: -webkit-linear-gradient(#FEE680,#FAC232,#FA9300);
    --tertiary: linear-gradient(to bottom, #646464,#484848,#2F2F2F);
}

body {
    background:  #000000;
    max-width: 1920px;
    min-width: 1920px;
    width: 100%;
}

.separator {
    width: 100%;
    padding: 4.5px;
    background-image: linear-gradient(to bottom, #FEE680, #FAC232, #FA9300);
}

header {
    background: url('../images/common/home_background.png') no-repeat right;
    background-size: contain;
}

#header_container {
    max-width: 1765px;
    width: 100%;
    margin: 0 auto 65px;
    padding-top: 42px;
}

#header_container .flex {
    display: flex;
    justify-content: space-between;
}

#header_container .flex .flex-menu {
    max-width: 1023px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    text-align: center;
}

#header_container .flex .flex-menu nav {
    width: 100%;
}

#header_container .flex .flex-menu nav ul {
    max-width: 715px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow';
    font-size: 20px;
    color: #FFFFFF;
}

#header_container .flex .flex-menu .tel {
    max-width: 240px;
    width: 100%;
    display: block;
    padding: 25px;
    background: var(--secondary);
    border-radius: 50px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    color: var(--primary);
}

#header_container .text_container {
    max-width: 400px;
    width: 100%;
    padding-bottom: 230px;
}

.text_container h2 {
    font-family: 'Playfair Display';
    font-size: 60px;
    background: var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 37px;
}

.text_container p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 40px;
    color: var(--primary);
}

 .btn {
    max-width: 210px;
    width: 100%;
    display: block;
    padding: 26px 38px;
    background: var(--secondary);
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

/* SECTION 2 */

#ace_of_clubs {
    background: url('../images/common/seksyon2background.png') no-repeat left;
    background-size: contain;
    width: 100%;
    padding-top: 105px;
    padding-bottom: 128px;
}

#ace_of_clubs .container {
    width: 100%;
}

#ace_of_clubs .container .text_container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    display: flex;
}

#ace_of_clubs .container .text_container .border {
    max-width: 8px;
    width: 100%;
    height: 360px;
    background: #FAC334;
    margin: 0 78px;
}

#ace_of_clubs .container .text_container h2 {
    max-width: 400px;
}

#ace_of_clubs .container .text_container p {
    max-width: 600px;
    width: 100%;
    font-size: 16px;
}

/* SECTION 3 */

#billiards {
    background: url('../images/common/seksyon3background.png')no-repeat right;
    background-size: contain;
    margin-top: -300px;
} 

#billiards .text_container {
    max-width: 1400px;
    width: 100%;;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: calc(120px + 116px);
}

#billiards .text_container .text_billiards{
    max-width: 560px;
    width: 100%;
}

#billiards .text_container p {
    font-size: 16px;
}

/* SECTION 4 */

#darts {
    background: url('../images/common/seksyon4background.png') no-repeat left;
    background-position-x: 134px;
    margin-top: -160px;
}


#darts .darts_text {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
}


#darts .text_container  {
    max-width: 573px;
    margin-left: auto;
    padding-left: 50px;
}

#darts .text_container h2 {
    padding-top: 80px;
}

#darts .text_container p {
    max-width: 573px;
    font-family: 'Montserrat';
    font-size: 16px;
}

/* SECTION 5 */ 

#poker {
    background: url('../images/common/seksyon5background.png')no-repeat right;
    background-size: contain;
    margin-top: -115px;
}

#poker .poker_text {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 190px;
}

#poker .text_container {
    max-width: 550px;
    width: 100%;
    margin-right: auto;
}

#poker .text_container p {
    font-family: 'Montserrat';
    font-size: 16px;
}

/* SECTION 6 */

#resto {
    background: url('../images/common/seksyon6background.png') no-repeat left;
}

#resto .resto_text {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 210px;
}

#resto .resto_text .text_container {
    max-width: 566px;
    margin-left: auto;
}

#resto .resto_text .text_container p {
    font-family: 'Montserrat';
    font-size: 16px;
    color: var(--primary);
}

/* SECTION 7 */

#clubs_menu {
    background: url('../images/common/clubs_background.png')no-repeat center;
    background-size: cover;
    width: 100%;
}

#clubs_menu .clubs_container {
    max-width: 1705px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 121px;
}

#clubs_menu .clubs_container h2 {
    font-family: 'Playfair Display';
    font-size: 48px;
    margin-bottom: 20px;
    background: var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#clubs_menu .clubs_container p {
    max-width: 1155px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 47px;
}

#clubs_menu .clubs_container .beverage_container {
    max-width: 1704px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clubs_menu .clubs_container .beverage_container .card{
    max-width: 371px;
    width: 100%;
    background: var(--tertiary);
    padding-bottom: 32px;
}

#clubs_menu .clubs_container .beverage_container .card h3 {
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #FAA500;
}

#clubs_menu .clubs_container .beverage_container .card a {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    color: #FEE680;
}

#upcoming_events {
    background: url('../images/common/seksyon7background.jpg')no-repeat center;
    /* background-size: cover; */
    width: 100%;
    padding-top: 148px;
    padding-bottom: 140px;
}

#upcoming_events .upcoming_events_container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

#upcoming_events .upcoming_events_container h2 {
    font-family: 'Playfair Display';
    font-size: 48px;
    margin-bottom: 56px;
    background: var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#upcoming_events .upcoming_events_container .flex {
    display: flex;
    justify-content: space-between;
}

#upcoming_events .flex .flex-item {
    width: 100%;
}

#upcoming_events .flex .flex-item img {
    margin-bottom: 25px;
}

#upcoming_events .flex-item p {
    max-width: 407px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
}

/* FOOOTER */

#footer .footer_container {
    max-width: 1385px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
    color: var(--primary);
}

#footer .footer_container .flex {
    display: flex;
    justify-content: space-between;
}

#footer .footer_container .logo_container {
    max-width: 239px;
    width: 100%;
    margin: 0 auto;
}
#footer .footer_container .info_container {
    max-width: 664px;
    width: 100%;
    margin: 0 auto;
    padding-top: 48px;
}

#footer .footer_container .info_container .info {
    display: flex;
    justify-content: space-between;
    max-width: 591px;
}

#footer .footer_container .info_container .info .phone {
    margin-bottom: 44px !important;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
}

#footer .footer_container .info_container .info .email {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 44px;
}

#footer .footer_container .info_container .info .address{
    max-width: 161px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

#footer .footer_container .info_container nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 586px;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
}

#footer .footer_container .info_container nav {
    margin-bottom: 18px;
}

#footer .footer_container .info_container .copyright {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}

#footer .footer_container .text_container {
    max-width: 396px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    margin-left: auto;
    padding-top: 48px;
}