/* font */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helvetica/HelveticaNeueCyr-Medium.ttf');
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue Thin';
    src: url('fonts/helvetica/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Thin';
    src: url('fonts/helvetica/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TruenoBD';
    src: url('fonts/TruenoBd.otf');
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #FFFFFF;
    --secondary: -webkit-linear-gradient(#FEE680,#FAC232,#FA9300);
}


section {
    width: 100%;
    transition: 0.5s;
}


.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.4s ease;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

body {
    background: #000000;
}

.separator {
    max-width: 1920px;
    width: 100%;
    padding: 4.5px;
    background-image: linear-gradient(to bottom, #FEE680, #FAC232, #FA9300);
}

header {
    background: url('../images/common/home_background.png') no-repeat right;
    background-size: cover;
}

#header_container {
    max-width: 1765px;
    width: 100%;
    margin: 0 auto 65px;
    padding-top: 42px;
}

#header_container .flex {
    display: flex;
    justify-content: space-between;
}

#header_container .flex .flex-menu {
    max-width: 1023px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    text-align: center;
}

#header_container .flex .flex-menu nav {
    width: 100%;
}

#header_container .flex .flex-menu nav ul {
    max-width: 715px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
}

#header_container .flex .flex-menu .tel {
    max-width: 240px;
    width: 100%;
    display: block;
    padding: 25px;
    background: var(--secondary);
    border-radius: 50px;
    text-align: center;
}

.text_container {
    max-width: 400px;
    width: 100%;
    padding-bottom: 230px;
}

.text_container h2 {
    font-family: 'Playfair Display';
    font-size: 60px;
    background: var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 37px;
}

.text_container p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    color: var(--primary);
}

.text_container a {
    max-width: 204px;
    width: 100%;
    display: block;
    padding: 26px 38px;
    background: var(--secondary);
    border-radius: 50px;
}